<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    {{titulo}}
  </h1>

  <nav>
    <a routerLink="/listaProdutos">Produtos</a>
    <a routerLink="/novoProduto">Novo Produto</a>
    <a routerLink="/listaUsuarios">Usuários</a>
    <a routerLink="/novoUsuario">Novo Usuário</a>
    <a routerLink="/listaClientes">Clientes</a>
    <a routerLink="/novoCliente">Novo Cliente</a>
  </nav>
  <router-outlet></router-outlet>

<!--<app-tabela-produtos></app-tabela-produtos>
<app-form-produtos></app-form-produtos>-->